.profile-email {
  font-size: 1.5rem;
  max-width: 80%;
  text-align: center;
  word-break: break-all;
}

.buttons-page a {
  width: 80%;
}

.page-btns {
  width: 100%;
}

@media screen and ( min-width : 576px ) {

  .buttons-page a {
    width: 425px;
  }
}
