@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');

* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Jost, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529 !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  width: 100%;
  height: 80vh;
}

.header {
  background-color: #eee;
  width: 100vw;
}

.header .header-top {
  align-items: center;
}

.btn-icon {
  background: none;
  border: none;
}

.profile-abs {
  left: 0px;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.header .radio-buttons {
  width: 100%;
}

.header .form-check input {
  margin-left: -20px;
  position: absolute !important;
}

.header .form-check label {
  margin-top: 1px;
}

.footer {
  background-color: #eee;
  width: 100vw;
}


@media screen and ( min-width: 576px ) {

  .header-top {
    width: 90vw;
  }

  .header-bottom {
    width: 95%;
  }
}

@media screen and ( min-width: 768px ) {

  .header-bottom {
    width: 750px;
  }
}
